<template>
  <div class="editor" :key="isNew ? _id : id" :transition="!isNew && 'page'">
    <nav class="navbar has-background-light" style="margin-bottom: 20px;">
      <div class="navbar-brand">
        <code class="navbar-item has-text-grey">
          <small>#{{ collection }}/{{id || _id || 'new'}}</small>
        </code>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons" style="margin: 0.2rem 0;">
            <code>
              <small class="has-text-grey">Source</small>
            </code>
            <b-switch class="is-small" type="is-success" v-model="showSource"/>
            <span
              v-if="deletable !== false"
              class="button is-small is-uppercase is-danger"
              style="margin-bottom: 0;"
              :class="{'disabled': disabled || !rev || loading}"
              @click="remove"
            >remove</span>
            <span
              class="button is-small is-uppercase is-success"
              style="margin-bottom: 0;"
              :class="{'disabled': disabled || saved || loading}"
              @click="save"
            >save</span>
          </div>
        </div>
      </div>
    </nav>
    <b-notification type="is-danger" v-if="error">
      <pre class="has-text-white has-background-danger">{{ error }}</pre>
    </b-notification>
    <div class="source" :class="{visible: showSource}">
      <pre style="margin-bottom: 20px; text-align: left;">{{JSON.stringify(full, null, 2)}}</pre>
    </div>
    <slot name="editor" v-if="content" v-bind:doc="content" v-bind:rev="rev" v-bind:id="id"></slot>
    <b-loading :is-full-page="false" :active.sync="loading"></b-loading>
  </div>
</template>

<script>
import { generateId } from '../utils.js'
export default {
  props: ['_id', 'collection', 'deletable'],
  data() {
    return {
      id: undefined,
      rev: undefined,
      content: {},
      disabled: false,
      showSource: false,
      error: undefined,
      loading: undefined,
      timeout: undefined,
      saved: false,
      isNew: true,
    }
  },
  watch: {
    content: {
      deep: true,
      handler() {
        if (!this.loading) this.saved = false
      }
    },
    _id: {
      immediate: true,
      async handler(value) {
        if (value) { // try to load a document, if not exists draft it
          this.startLoading()

          try {
            const { _id, _rev, ...content } = await this.$db(this.collection).get(value)
            this.id = _id
            this.rev = _rev
            this.content = content
            this.saved = true
          } catch (err) {
            // TODO: check error and if missing then...
            this.id = value
            // this.content = {}
          }

          this.finishLoading()
        }
        if (!value) { // generate new document
          this.id = generateId()
          this.rev = undefined
          this.content = {}
        }

        this.isNew = false
      }
    }
  },
  computed: {
    full() {
      return {
        _id: this.id,
        _rev: this.rev,
        ...this.content
      }
    }
  },
  methods: {
    startLoading() {
      this.timeout = setTimeout(() => {
        this.loading = true
      }, 100)
    },
    finishLoading() {
      this.$nextTick(() => {
        if (this.timeout) window.clearTimeout(this.timeout)
        this.timeout = undefined
        this.loading = false
      })
    },
    async remove() {
      if (!window.confirm(`Trwale usunąć #${this.collection}/${this.id}?`)) return
      this.startLoading()
      try {
        this.disabled = true
        await this.$db(this.collection).remove(this.full)
        this.$toast.open(`#${this.collection}/${this.id} deleted!`)
        this.$emit('deleted', { ...this.full, deleted: true })
        this.content = {}
        this.rev = undefined
      } catch (err) {
        this.error = err
      }
      this.disabled = false

      this.finishLoading()
    },
    async save() {
      if (this.saved) return

      this.startLoading()

      try {
        this.disabled = true
        const res = await this.$db(this.collection).put(this.full)
        this.id = res.id
        this.rev = res.rev
        this.$emit('updated', this.full)
        this.status = res
        this.error = false
        this.disabled = false
        this.saved = true
        this.$toast.open(`#${this.collection}/${this.id} updated!`)
        this.$emit('saved', this.full) // TODO: for what???
      } catch (err) {
        this.error = err
        this.disabled = false
      }

      this.finishLoading()
    }
  }
}
</script>

<style scoped>
.editor {
  position: relative;
  padding-bottom: 2rem;
}
.source {
  display: none;
}
.source.visible {
  display: block;
}
.disabled {
  opacity: 0.7 !important;
  pointer-events: none;
}
.navbar {
  z-index: initial;
}
</style>
