<template>
  <div class="wrapper">
    <dropzone
      v-show="multi || (!multi && files.length < 1)"
      :id="folder"
      ref="el"
      :options="options"
      :destroyDropzone="true"
      :useCustomSlot="true"
      class="button is-primary file-button"
      :class="{ 'is-loading': loading }"
    >Dodaj {{multi ? 'obrazy' : 'obraz'}}</dropzone>
    <div v-if="!nolist" class="field is-grouped is-grouped-multiline">
      <draggable v-model="files">
        <div class="control" v-for="(file, idx) in files" :key="idx">
          <div class="tags has-addons" :class="{'is-deleting': deleting === file.imagePath}">
            <div
              class="tag is-medium handler"
              v-if="multi"
            >
              <nu-icon small="true">drag_handle</nu-icon>
            </div>
            <b-dropdown hoverable>
              <span slot="trigger" class="tag is-medium tag-button hoverable">{{ file.originalName }}</span>

              <b-dropdown-item v-if="file.thumbnail" custom>
                <img :src="file.thumbnail">
              </b-dropdown-item>
            </b-dropdown>
            <div
              class="tag is-medium tag-button hoverable"
              :class="{'is-deleting': deleting}"
              @click="remove(idx)"
            >
              <nu-icon small="true">delete</nu-icon>
            </div>
          </div>
        </div>
      </draggable>
    </div>
  </div>
</template>

<script>
import Dropzone from 'nuxt-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.css'
import axios from 'axios'
import draggable from 'vuedraggable'

const port = location.port ? ':' + location.port : ''
const fsHost = `${location.protocol}//${location.hostname}${port}/fs/`

export default {
  props: ['folder', 'value', 'multi', 'nolist'],
  components: {
    draggable,
    Dropzone
  },
  computed: {
    fullFolder() {
      return process.env.NODE_ENV === 'production'
        ? this.folder || ''
        : 'dev/' + this.folder || ''
    },
    inputFiles() {
      return this.multi ? this.value : [this.value]
    }
  },
  data() {
    return {
      options: {
        url: '/fs/upload',
        parallelUploads: 5,
        maxFilesize: 25,
        acceptedFiles: 'image/*',
        sending: () => {
          this.loading = true
        },
        success: (file, response) => {
          this.loading = false
          this.files.push({
            ...response,
            originalName: file.name
          })
        },
        error: (...args) => {
          this.loading = false
          if (args[1].error) {
            this.$toast.open(args[1].error)
          }
        }
      },
      loading: false,
      files: [],
      deleting: undefined
    }
  },
  watch: {
    value: {
      immediate: true,
      deep: true,
      handler(value) {
        if (!value) {
          this.files = []
          return
        }

        if (JSON.stringify(this.inputFiles) !== JSON.stringify(this.files)) {
          this.files = this.inputFiles
        }
      }
    },
    files: {
      deep: true,
      handler(value) {
        // if new value not equals last input
        if (JSON.stringify(value) !== JSON.stringify(this.inputFiles)) {
          this.update()
        }
      }
    }
  },
  methods: {
    update() {
      this.$emit(
        'input',
        this.multi
          ? JSON.parse(JSON.stringify(this.files))
          : this.files[0]
            ? JSON.parse(JSON.stringify(this.files[0]))
            : undefined
      )
    },
    async remove(idx) {
      const { imagePath, originalName } = this.files[idx]
      this.deleting = imagePath
      try {
        const { data } = await axios(fsHost + 'delete', {
          method: 'post',
          data: {
            imagePath
          }
        })
        this.deleting = undefined
        if (data.success) this.$toast.open(`Image ${originalName} deleted!`)
        else {
          throw data.error || {
            error: true,
            msg: 'Server responded without success or error.'
          }
        }
      } catch (err) {
        this.deleting = undefined
        this.$toast.open(`Can't delete an image!`)
        if (this.rollbar) this.rollbar.error(err)
        else console.log(err)
        return
      }
      this.files = this.files.filter((x, idx2) => idx !== idx2)
      this.$emit(
        'input',
        this.multi ? JSON.parse(JSON.stringify(this.files)) : undefined
      )
    }
  }
}
</script>

<style scoped>
.wrapper >>> .dz-preview > * {
  display: none;
}
.wrapper >>> .file-button.dz-drag-hover {
  color: transparent;
  position: relative;
}
.wrapper >>> .file-button.dz-drag-hover::before {
  content: 'Drop it!';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-loading >>> .dz-progress {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.is-loading >>> .dz-preview:last-child .dz-progress span {
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.dropdown-content {
  padding: 0;
}
.tags .dropdown-menu {
  min-width: 0;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
}
.tags .dropdown-menu * {
  overflow: hidden;
  font-size: 0;
  padding: 0;
}
.tags:last-child {
  margin-bottom: 0;
}
.tag-button {
  cursor: pointer;
}
.tag-button.hoverable:hover {
  filter: brightness(0.9);
}
.is-deleting {
  opacity: 0.5;
}
</style>
