<template>
  <span class="icon" :class="{'is-small': small}">
    <i class="material-icons" :class="{'md-18': small}">
      <slot></slot>
    </i>
  </span>
</template>

<script>
export default {
  props: ['small']
}
</script>

<style>
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
</style>
