<template>
  <div v-if="!short && langs.length < 4" class="buttons has-addons">
    <button
      class="button is-small"
      :class="{ 'is-primary': current === lang }"
      v-for="lang in langs"
      :key="lang"
      @click="current = lang"
    >
      <nu-icon
        small="true"
        class="check"
        :class="{ valid: isEmpty(value && value[lang]) }"
        v-if="!noCheck"
      >{{ isEmpty(value && value[lang]) ? 'check' : 'clear' }}</nu-icon>
      <span style="text-transform: uppercase;">{{ lang }}</span>
    </button>
  </div>
  <b-select v-model="current" v-else>
    <option
      v-for="lang in langs"
      :value="lang"
      :key="lang"
    >
      {{ !noCheck && (value && value[lang] ? '✓' : '×') }} {{ lang.toUpperCase() }}</option>
  </b-select>
</template>

<script>
export default {
  props: ['value', 'short', 'noCheck'],
  computed: {
    current: {
      get() {
        return this.$i18n.state.current
      },
      set(val) {
        this.$i18n.commit('set', val)
      }
    },
    langs() {
      return this.$i18n.state.langs
    }
  },
  methods: {
    isEmpty(value) {
      return value && value !== '' && value !== '<p></p>'
    }
  }
}
</script>
