<template>
  <div class="livelist" :key="key" transition="page">
    <div v-for="item in items" :key="item._id">
      <slot name="item" v-bind:item="item" v-bind:activeId="activeId"></slot>
    </div>
    <div class="empty" v-if="!items.length && !loading && !init">
      <div>Brak elementów</div>
    </div>
    <b-loading :is-full-page="false" :active.sync="loading"></b-loading>
  </div>
</template>

<script>
export default {
  props: ['collection', 'selector', 'fields', 'sort'],
  computed: {
    findQuery() {
      return {
        selector: this.selector || {
          _id: {
            $gt: '0'
          }
        },
        fields: this.fields,
        sort: this.sort || [{ _id: 'desc' }]
      }
    },
    activeId() {
      return this.$route && this.$route.params && this.$route.params.id
    }
  },
  data() {
    return {
      items: [],
      changes: undefined,
      loading: false,
      init: true,
      key: 'new'
    }
  },
  methods: {
    async update() {
      let timeout = setTimeout(() => {
        this.loading = true
      }, 100)
      this.items = (await this.$db
        .get(this.collection)
        .find(this.findQuery)).docs
      if (timeout) window.clearTimeout(timeout)
      this.loading = false
      this.init = false
      this.key = this.key + '0'
    },
    async listenChanges(retry) {
      if (this.changes && this.changes.cancel) this.changes.cancel()
      this.changes = this.$db
        .get(this.collection)
        .changes({ since: 'now', live: true, heartbeat: 1000 })
        .on('change', this.update)
        .on('error', err => {
          if (this.rollbar) this.rollbar.error(err)
          if (!retry) this.listenChanges(true)
        })
    }
  },
  mounted() {
    if (!this.collection) {
      console.log('Missing collection')
      return
    }
    this.update()
    if (!this.changes) this.listenChanges()
  },
  beforeDestroy() {
    this.changes.cancel()
  }
}
</script>

<style scoped>
.livelist {
  position: relative;
  min-height: 200px;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255,255,255,.2);
  padding: 20px 0;
}
.empty > * {
  margin: 20px 0;
}
</style>
