<template>
  <div class="field has-addons">
    <div v-if="value" class="control">
      <component
        v-for="lang in langs"
        v-show="lang === current"
        :key="lang"
        :is="component || 'b-input'"
        :type="type"
        v-model="value[lang]"
        @input="update()"
        :fullValue="value"
      />
    </div>
    <div v-if="!hidden" class="control">
      <nu-langSwicher :short="short" :value="value"/>
    </div>
  </div>
</template>

<script>
export default {
  props: ['value', 'component', 'type', 'short', 'hidden'],
  mounted() {
    this.check()
  },
  computed: {
    current: {
      get() {
        return this.$i18n.state.current
      },
      set(val) {
        this.$i18n.commit('set', val)
      }
    },
    langs() {
      return this.$i18n.state.langs
    }
  },
  watch: {
    value(value) {
      this.check()
      // this.update()
    }
  },
  methods: {
    update() {
      this.$emit('input', this.value)
    },
    check() {
      if (!this.value || this.value === '') {
        this.$emit('input', {})
      } else {
        this.$forceUpdate() // TODO: check if needed
      }
    }
  }
}
</script>

<style scoped>
.has-addons > .control:first-child {
  flex-grow: 1;
}
.field >>> .input {
  border-radius: 0!important;
}
.field.has-addons .control:not(:last-child) {
  margin-right: 0;
}
.is-info .check {
  opacity: 0.3;
}
.check {
  opacity: 0.2;
}
.check.valid {
  opacity: 1;
}
</style>
