<template>
  <div>
    <editor-menu-bar :editor="editor">
      <div class="menubar" slot-scope="{ commands, isActive }">
        <div class="buttons has-addons">
          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.bold() }"
            @click="commands.bold"
          >
            <nu-icon>format_bold</nu-icon>
          </button>

          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.italic() }"
            @click="commands.italic"
          >
            <nu-icon>format_italic</nu-icon>
          </button>

          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.strike() }"
            @click="commands.strike"
          >
            <nu-icon>strikethrough_s</nu-icon>
          </button>

          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.underline() }"
            @click="commands.underline"
          >
            <nu-icon>format_underline</nu-icon>
          </button>

          <!-- <button
              class="button is-small"
              :class="{ 'is-primary': isActive.code() }"
              @click="commands.code"
            >
              <nu-icon>code</nu-icon>
          </button>-->
        </div>

        <div class="buttons has-addons">
          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.paragraph() }"
            @click="commands.paragraph"
          >P</button>

          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.heading({ level: 1 }) }"
            @click="commands.heading({ level: 1 })"
          >H1</button>

          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.heading({ level: 2 }) }"
            @click="commands.heading({ level: 2 })"
          >H2</button>

          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.heading({ level: 3 }) }"
            @click="commands.heading({ level: 3 })"
          >H3</button>
        </div>

        <div class="buttons has-addons">
          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.bullet_list() }"
            @click="commands.bullet_list"
          >
            <nu-icon>format_list_bulleted</nu-icon>
          </button>

          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.ordered_list() }"
            @click="commands.ordered_list"
          >
            <nu-icon>format_list_numbered</nu-icon>
          </button>

          <button
            class="button is-small"
            :class="{ 'is-primary': isActive.blockquote() }"
            @click="commands.blockquote"
          >
            <nu-icon>format_quote</nu-icon>
          </button>

          <!-- <button
            class="button is-small"
            :class="{ 'is-primary': isActive.code_block() }"
            @click="commands.code_block"
          >
            <nu-icon>code</nu-icon>
          </button>-->
          <button class="button is-small" @click="commands.horizontal_rule">
            <nu-icon>vertical_align_center</nu-icon>
          </button>
        </div>
        <div class="buttons has-addons">
          <button class="button is-small" :disabled="done < 1" @click="commands.undo">
            <nu-icon>undo</nu-icon>
          </button>

          <button class="button is-small" :disabled="undone < 1" @click="commands.redo">
            <nu-icon>redo</nu-icon>
          </button>
        </div>

        <nu-langSwicher v-if="fullValue" :value="fullValue" style="float: right; margin-right: 0;"/>
      </div>
    </editor-menu-bar>

    <editor-content ref="wysiwyg" class="wysiwyg" :editor="editor"/>
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History
} from 'tiptap-extensions'

export default {
  props: ['value', 'fullValue'],
  components: {
    EditorContent,
    EditorMenuBar
  },
  data() {
    return {
      last: undefined,
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Bold(),
          new Code(),
          new Italic(),
          new Link(),
          new Strike(),
          new Underline(),
          new History()
        ],
        content: this.value,
        onUpdate: x => {
          this.$emit('input', x.getHTML())
          this.last = x.getHTML()
        }
      })
    }
  },
  computed: {
    done() {
      return this.editor.state.history$.done.eventCount
    },
    undone() {
      return this.editor.state.history$.undone.eventCount
    }
  },
  watch: {
    value(val) {
      if (val !== this.last) this.editor.setContent(val)
      if (val === undefined) this.editor.setContent('')
      this.last = undefined
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.wysiwyg.$el
        .querySelector('.ProseMirror')
        .classList.add('textarea')
    })
  },
  beforeDestroy() {
    this.editor.destroy()
  }
}
</script>

<style scoped>
.buttons.has-addons {
  float: left;
  margin-right: 5px;
}
.buttons.has-addons .button:last-child {
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.wysiwyg {
  clear: both;
}
.wysiwyg >>> .textarea {
  max-height: initial;
  height: initial;
}
.wysiwyg >>> *:first-child {
  margin-top: 0;
}
.wysiwyg >>> *:last-child {
  margin-bottom: 0;
}
.wysiwyg >>> strong,
.wysiwyg >>> b {
  font-weight: bold;
}
.wysiwyg >>> i,
.wysiwyg >>> cite,
.wysiwyg >>> em,
.wysiwyg >>> var,
.wysiwyg >>> address,
.wysiwyg >>> dfn {
  font-style: italic;
}
.wysiwyg >>> s,
.wysiwyg >>> strike,
.wysiwyg >>> del {
  text-decoration: line-through;
}
.wysiwyg >>> u,
.wysiwyg >>> ins {
  text-decoration: underline;
}
.wysiwyg >>> p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}
.wysiwyg >>> h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}
.wysiwyg >>> h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}
.wysiwyg >>> h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}
.wysiwyg >>> ul,
.wysiwyg >>> menu,
.wysiwyg >>> dir {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 40px;
}
.wysiwyg >>> ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 40px;
}
.wysiwyg >>> li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.wysiwyg >>> blockquote {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 40px;
  background-color: #F6F6F6;
  padding-right: 40px;
}
.wysiwyg >>> hr {
  display: block;
  unicode-bidi: isolate;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
</style>
